.testingOptionsTable{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}